tensorflow==2.10.0  # Matches your model's requirements
keras==2.10.0
numpy
streamlit
streamlit_folium
folium
geemap
earthengine-api
datetime
pillow
rasterio
matplotlib
scikit-image
opencv-python
geopandas
huggingface_hub
requests
