numpy==1.24.4
tensorflow-cpu==2.10.0
setuptools==80.0.0
geemap>=0.20.0
numpy
streamlit
streamlit_folium
folium
geemap
earthengine-api
datetime
pillow
rasterio
matplotlib
scikit-image
opencv-python
geopandas
huggingface_hub
requests
