tensorflow==2.16.1
keras==3.0.0
numpy==1.24.3
streamlit
streamlit_folium
folium
geemap
earthengine-api
datetime
pillow
rasterio
matplotlib
scikit-image
opencv-python
geopandas
huggingface_hub
requests
